body{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font-family:'Segoe UI';
    color:#fff;
    
}

/*--------------------
-------CONTENT--------
----------------------*/

h1{
	text-align:center;
	border:1px solid #fff;
}

h2, h3, h4 {
    margin-top:0;
    margin-bottom:30px;
    text-shadow: 0 -1px #00468C,
                1px 0 #00468C,
                0 1px #00468C,
                -1px 0 #00468C;
}

h3 {
    margin-bottom:10px;
}
h4 {    
    margin-bottom:14px;
}

#content{
	width:100%;
    float:right;
    display:inline-block;
    position:relative;
}

/*--------------------
---------BLOG---------
----------------------*/
.post_content {
    margin:20px 0;
}
.post a {
    text-decoration:none;
    padding:2px 5px;
    border:1px dashed #1a1a1a;
    background-color:rgba(255, 255, 255, 0.50);
    width:100px;
    display:inline-block;
    margin:0 auto;
    color:#1a1a1a;
    clear:both;
}

.bezierCanvas{
    border:1px solid #ff6a00;
    background:rgba(255, 106, 0, 0.60);
}

.canvasButtonAdd{
    line-height:15px;
    width:40px;
    height:30px;
    font-size:22px;
}

@media only screen and (max-width: 1200px) {
    .post {
        width: 90%;
        height: 90%;
    }

        .post img {
            width: 90%;
        }

    #bottom_row .post, #top_row .post {
        width: 90%;
        height: 220px;
        display: block;
    }

}
   
    @media only screen and (max-width: 479px) {
        .post {
            width: 90%;
        }
    }

    @media only screen and (max-width: 479px) {
        .post {
            width: 90%;
        }
    }