@canvasBg:rgba(255, 106, 0, 0.60);
@canvasBorder:1px solid #ff6a00;

.bezierCanvas{
    background:@canvasBg;
    border:@canvasBorder;
}
.canvasButtonAdd{    
    line-height:15px;
    width:40px;
    height:30px;
    font-size:22px;
}