/*--------------------
-------MAIN MENU------
----------------------*/

@color: rgba(255, 0, 195, 0.60);

/*--------------------
-------BACKGROUND-----
----------------------*/

#background {
    position:absolute;
    left:0;
    top:0;
    background:#000;
    display:block;
    z-index:-100;
}