body
{
      
}
h1{
	text-align:center;
	border:1px solid #1a1a1a
}

header {
	display:block;
    width:1000px;
	margin:0 auto;
}

#menu-nav{
	list-style:none;
	padding:0;
}

#menu-nav  li{
	display:inline-block;
	border:1px solid #000;
}

#menu-nav a{
	display:inline-block;
	padding:10px;
}

#content{
	width:1000px;
	margin:0 auto;
}

#skills{
	border: 1px solid #1a1a1a;
}

#images {
    display:block;
    margin:0 auto;
    text-align:center;
}

    #images img {
        width:200px;
        height:200px;
    }
    
    #images a {
        border: 10px solid rgba(157, 128, 255, 0.70);
        border-radius:5px;
        display:inline-block;
        margin:5px 10px 5px 0;
    }