body
{
    margin:0;
    padding:0;
    border:0;
    font-family:'Segoe UI';
    color:#fff;
    /*background-image:url("content/images/sb3.png");*/
    
}

/*--------------------
-------BACKGROUND-----
----------------------*/

@keyframes background
{
    from {left: 0; top: 0;}
    to {left: -10000px; top: -2000px;}
}

@-webkit-keyframes background /* Safari and Chrome */
{
    from {left: 0; top: 0;}
    to {left: -10000px; top: -2000px;}
}

#background {
	background: url(content/images/background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
    z-index: -200;
    animation: background 240s;
    -webkit-animation: background 240s; /* Safari and Chrome */
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; /* Safari and Chrome */
}

#midground {
	background: url(content/images/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -100;
    animation: background 120s;
    -webkit-animation: background 120s; /* Safari and Chrome */
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; /* Safari and Chrome */
}

#foreground {
	background: url(content/images/foreground.png) repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -100;
    animation: background 60s;
    -webkit-animation: background 60s; /* Safari and Chrome */
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; /* Safari and Chrome */
}



/*--------------------
-------CONTENT--------
----------------------*/

h1{
	text-align:center;
	border:1px solid #fff;
}

h2, h3, h4 {
    margin-top:0;
    margin-bottom:30px;
    
    text-shadow: 0 -1px #00468C,
                1px 0 #00468C,
                0 1px #00468C,
                -1px 0 #00468C;
}

h3 {
    margin-bottom:10px;
}
h4 {    
    margin-bottom:14px;
}

#content{
	width:90%;
    float:right;
    display:block;
}

#skills{
	border: 1px solid #1a1a1a;
}

#images {
    display:block;
    margin:0 auto;
    text-align:center;
}

    #images img {
        width:200px;
        height:200px;
    }
    
    #images a {
        border: 2px solid rgba(157, 128, 255, 0.70);
        border-radius:5px;
        display:inline-block;
        margin:5px 10px 5px 0;
    }

/*--------------------
---------BLOG---------
----------------------*/

.row {
    position:relative;
    top:200px;
    display:inline-block;
}


#top_row .post {    
    -webkit-transform: perspective(300px) rotateX(45deg);
    -moz-transform: perspective(300px) rotateX(45deg);
}

#bottom_row .post {
    -webkit-transform: perspective(300px) rotateX(-45deg);
    -moz-transform: perspective(300px) rotateX(-45deg);
}

#bottom_row .post, #top_row .post {
    background-color: rgba(178, 0, 255, 0.30);
    border: 2px solid rgba(178, 0, 255, 0.60);
    width: 260px;
    height: 260px;
    display:block;
} 

        #bottom_row .post:hover {
            background-color:rgba(178, 0, 255, 0.60);
        }

div#bottom_row .post + .post {
    background-color:rgba(255, 0, 0, 0.30);
    border: 2px solid rgba(255, 0, 0, 0.60);
}
#bottom_row .post:nth-child(3) {
    background-color:rgba(255, 242, 0, 0.30);
    border: 2px solid rgba(255, 242, 0, 0.60);
}
#bottom_row .post:nth-child(4) {
    background-color:rgba(18, 255, 0, 0.30);
    border: 2px solid rgba(18, 255, 0, 0.60);
}

        #bottom_row .post img, #top_row .post img {
            width:100px;
        }

.post {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    display:block;
    margin:0 auto;
	border: 2px solid #ff6a00;
    width:360px;
    height:360px;
    text-align:center;
    background-color:rgba(255, 106, 0, 0.60);
}

.post_content {
    margin:20px 0;
}

.post p {
    width:300px;
    margin-left:auto;
    margin-right:auto;
    font-size:14px;
}
    .post img  {
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
        box-shadow: 0 0 10px rgba(0,0,0,0.5); 
        width:200px;
    }

.post a {
    text-decoration:none;
    padding:2px 5px;
    border:1px dashed #1a1a1a;
    background-color:rgba(255, 255, 255, 0.50);
    width:100px;
    display:inline-block;
    margin:0 auto;
    color:#1a1a1a;
}

.read_more_link {

}
    .post a {
        clear:both;
        display:block;
    }

/*----------------------
------LessCss-----------
------------------------*/

@lightRed:#fdd;
@lightGreen:#dfd;
@lightBlue:#ddf;

@defaultThemeColor:@lightGreen;

.shape {
    display:inline-block;
    width:200px;
    height:200px;
    background:@defaultThemeColor;
    margin:20px;
}

/*----------------------
----Big Post Content----
------------------------*/

#sidebar {
  padding: 0;
  margin: 20px 10px 0 10px;
  border: 0; 
  float:left;
  position:relative;
  top:50px;
  width:10%;
}

#big_post p {
    width:700px;
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.side_post, #big_post {
    position:relative;        
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    display:block;
    margin-bottom:10px;
    margin-right:10px;
    text-align:center;
    float:left;
}

#one_post {
    background-color:rgba(255, 106, 0, 0.60);
	border: 2px solid #ff6a00;    
    width:100px;
    height:100px;
}

#two_post {
    background-color:rgba(0, 255, 154, 0.60);
    border: 2px solid rgba(0, 255, 154, 0.60);    
    width:150px;
    height:150px;
}

#three_post {
    background-color:rgba(255, 0, 195, 0.60);
    border: 2px solid rgba(255, 0, 195, 0.60);
    width:200px;
    height:200px;
}

#four_post {
    background-color:rgba(0, 52, 255, 0.60);
    border: 2px solid rgba(0, 52, 255, 0.60);
    width:150px;
    height:150px;
}

#five_post {    
    background-color:rgba(178, 0, 255, 0.60);
    border: 2px solid rgba(178, 0, 255, 0.60);
    width:100px;
    height:100px;
}

#sidebar img {
    width:100px;
}

#main {
    width:80%;
    float:right;
    display:block;
}

#big_post {    
    background-color:rgba(255, 0, 195, 0.60);
    border: 2px solid rgba(255, 0, 195, 0.60);
    width:850px;
    height:850px;
    top:50px;
}
    #big_post img {
        width:400px;
    }